.page-wrapper {
  padding-left: $offset-x-mobile;
  padding-right: $offset-x-mobile;
  background-color: $color-bg-main;

  @media (min-width: $desktop-width) {
    max-width: 1010px;
    margin: 0 auto;
    padding-left: $offset-x-desktop;
    padding-right: $offset-x-desktop;

    &--with-aside {
      display: grid;
      grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
      grid-template-columns: 1fr 235px;
      column-gap: 20px;

      .page-main {
        max-width: none;
      }
    }
  }
}
