.page-aside {
  grid-area: aside;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin-right: -5px;
  }
}

.page-aside__ads {
  @media (min-width: $desktop-width) {
    &:empty {
      height: 104px;
    }
  }
}
