<nav class="additional-nav outer-mobile">
  <ul class="additional-nav__list swiper">
    <li class="additional-nav__item">
      <a class="additional-nav__link additional-nav__link--cars-customs-clearance" href="#">Растаможка авто</a>
    </li>
    <li class="additional-nav__item">
      <a class="additional-nav__link additional-nav__link--payments-calculation" href="#">Расчет платежей</a>
    </li>
    <li class="additional-nav__item">
      <a class="additional-nav__link additional-nav__link--database" href="#">База данных</a>
    </li>
    <li class="additional-nav__item">
      <a class="additional-nav__link additional-nav__link--customs-forum" href="#">Таможенный форум</a>
    </li>
  </ul>
</nav>