<section class="authors-columns">
  <h2 class="authors-columns__title">Авторские колонки</h2>

  <ul class="authors-columns__list">
    <li class="authors-columns__item">
      <div class="authors-columns__item-content">
        <h3 class="authors-columns__item-title">Что грозит за недекларирование собственных наручных
          часов?</h3>
        <span class="authors-columns__item-copyright">Белоусов М.</span>
      </div>
      <img class="authors-columns__item-image" src="/img/periodicals-author-demo.webp" width="60" height="80" alt="Фото автора статьи">
    </li>
    <li class="authors-columns__item">
      <div class="authors-columns__item-content">
        <h3 class="authors-columns__item-title">Как автоматизация процессов помогает увеличить оборот
          логистической компании втрое</h3>
        <span class="authors-columns__item-copyright">Белоусов М.</span>
      </div>
    </li>
    <li class="authors-columns__item">
      <div class="authors-columns__item-content">
        <h3 class="authors-columns__item-title">"Кто такая ондатра вообще!" Или как остаться
          "миллионером"</h3>
        <span class="authors-columns__item-copyright">Белоусов М.</span>
      </div>
    </li>
    <li class="authors-columns__item">
      <div class="authors-columns__item-content">
        <h3 class="authors-columns__item-title">30 или 300 тысяч штраф, грозит за непредоставление
          отчетности о владении условно выпущенными товарами?</h3>
        <span class="authors-columns__item-copyright">Белоусов М.</span>
      </div>
    </li>
    <li class="authors-columns__item">
      <div class="authors-columns__item-content">
        <h3 class="authors-columns__item-title">Как автоматизация процессов помогает увеличить оборот
          логистической компании втрое</h3>
        <span class="authors-columns__item-copyright">Белоусов М.</span>
      </div>
    </li>
  </ul>
</section>