<section class="author__column">
    <h2 class="author-column__title">Авторские колонки</h2>

    <ul class="author-column__list">
      <li class="author-column__item">
        <div class="author-column__item-intro">
          <h3 class="author-column__item-title">Что грозит за недекларирование собственных наручных
            часов?</h3>
          <span class="author-column__item-copyright">Белоусов М.</span>
        </div>
        <img class="author-column__item-image" src="/img/periodicals-author1-demo.webp" width="60"
          height="80" alt="Фото автора статьи">
      </li>
      <li class="author-column__item">
        <div class="author-column__item-intro">
          <h3 class="author-column__item-title">Как автоматизация процессов помогает увеличить оборот
            логистической компании втрое</h3>
          <span class="author-column__item-copyright">Белоусов М.</span>
        </div>
      </li>
      <li class="author-column__item">
        <div class="author-column__item-intro">
          <h3 class="author-column__item-title">"Кто такая ондатра вообще!" Или как остаться
            "миллионером"</h3>
          <span class="author-column__item-copyright">Белоусов М.</span>
        </div>
      </li>
      <li class="author-column__item">
        <div class="author-column__item-intro">
          <h3 class="author-column__item-title">30 или 300 тысяч штраф, грозит за непредоставление
            отчетности о владении условно выпущенными товарами?</h3>
          <span class="author-column__item-copyright">Белоусов М.</span>
        </div>
      </li>
      <li class="author-column__item">
        <div class="author-column__item-intro">
          <h3 class="author-column__item-title">Как автоматизация процессов помогает увеличить оборот
            логистической компании втрое</h3>
          <span class="author-column__item-copyright">Белоусов М.</span>
        </div>
      </li>
    </ul>
  </section>