<section class="authors-shorts">
  <a class="authors-shorts__link" href="#">
    <h3 class="authors-shorts__title">Авторские колонки</h3>
  </a>

  <ul class="authors-shorts__list">
    <li class="authors-shorts__item">
      <div class="authors-shorts__item-content">
        <a class="authors-shorts__item-title-link" href="#">Что грозит за недекларирование собственных наручных
          часов?</a>
        <a class="authors-shorts__item-copyright-link" href="#">Белоусов М.</a>
      </div>
      <img class="authors-shorts__item-image" src="/img/periodicals-author-demo.webp" width="60" height="80" alt="Фото автора статьи">
    </li>
    <li class="authors-shorts__item">
      <div class="authors-shorts__item-content">
        <a class="authors-shorts__item-title-link" href="#">Как автоматизация процессов помогает увеличить оборот
          логистической компании втрое</a>
        <a class="authors-shorts__item-copyright-link" href="#">Белоусов М.</a>
      </div>
    </li>
    <li class="authors-shorts__item">
      <div class="authors-shorts__item-content">
        <a class="authors-shorts__item-title-link" href="#">"Кто такая ондатра вообще!" Или как остаться
          "миллионером"</a>
        <a class="authors-shorts__item-copyright-link" href="#">Белоусов М.</a>
      </div>
    </li>
    <li class="authors-shorts__item">
      <div class="authors-shorts__item-content">
        <a class="authors-shorts__item-title-link" href="#">30 или 300 тысяч штраф, грозит за непредоставление
          отчетности о владении условно выпущенными товарами?</a>
        <a class="authors-shorts__item-copyright-link" href="#">Белоусов М.</a>
      </div>
    </li>
    <li class="authors-shorts__item">
      <div class="authors-shorts__item-content">
        <a class="authors-shorts__item-title-link" href="#">Как автоматизация процессов помогает увеличить оборот
          логистической компании втрое</a>
        <a class="authors-shorts__item-copyright-link" href="#">Белоусов М.</a>
      </div>
    </li>
  </ul>
</section>