<header class="header">
  <nav class="header__navbar header-navbar">
    <a class="header-navbar__logo logo" href="#" aria-label="Переход на главную">
      <img class="logo__img" src="/img/svg/logo.svg" width="56" height="43" alt="Логотип компании TKS"/>
    </a>
    <div class="header-navbar__search search" data-search>
      <button class="search__toggler" type="button" aria-label="Открыть поиск" data-search-open>
        <span class="search__toggler-icon"></span>
      </button>
      <div class="search__popup" data-search-popup>
        <div class="search__input-group">
          <button class="search__exit" aria-label="Закрыть поиск" data-search-close>
            <span class="search__exit-icon"></span>
          </button>
          <input class="search__input" type="text" placeholder="Поиск по сайту" data-search-input>
          <button class="search__clear" aria-label="Очистить поиск" data-search-clear>
            <span class="search__clear-icon"></span>
          </button>
          <button class="search__enter">
            Найти
          </button>
        </div>
        <ul class="search__suggestions" data-search-suggestions>
          <li class="search__suggestions-item">НДС</li>
          <li class="search__suggestions-item">ндс по коду тн вэд</li>
          <li class="search__suggestions-item">возврат ндс</li>
          <li class="search__suggestions-item">перечень продуктов по ставка ндс 10 перечень продуктов по ставка ндс
            10</li>
          <li class="search__suggestions-item">освобождение от ндс при импорте оборудования</li>
        </ul>
      </div>
    </div>
    <div class="header-navbar__nav">
      <div class="header-navbar__main-nav header-main-nav outer-mobile">
        <ul class="header-main-nav__list swiper">
          <li class="header-main-nav__item">
            <a class="header-main-nav__link" href="#">Новости</a>
          </li>
          <li class="header-main-nav__item">
            <a class="header-main-nav__link" href="#">Юр.лицам</a>
          </li>
          <li class="header-main-nav__item">
            <a class="header-main-nav__link header-main-nav__link--active" href="#">Физ.лицам</a>
          </li>
          <li class="header-main-nav__item">
            <a class="header-main-nav__link" href="#">Программы</a>
          </li>
          <li class="header-main-nav__item">
            <a class="header-main-nav__link" href="#">Базы данных</a>
          </li>
          <li class="header-main-nav__item">
            <a class="header-main-nav__link" href="#">ТН ВЭД</a>
          </li>
          <li class="header-main-nav__item">
            <a class="header-main-nav__link" href="#">On-line</a>
          </li>
          <li class="header-main-nav__item">
            <a class="header-main-nav__link" href="#">Обучение</a>
          </li>
          <li class="header-main-nav__item">
            <a class="header-main-nav__link" href="#">API для ВЭД</a>
          </li>
          <li class="header-main-nav__item">
            <a class="header-main-nav__link" href="#">БЛАНКИ</a>
          </li>
        </ul>
      </div>
      <div class="header-navbar__secondary-nav header-secondary-nav outer-mobile">
        <ul class="header-secondary-nav__list swiper">
          <li class="header-secondary-nav__item">
            <a class="header-secondary-nav__link" href="#">Ввоз авто</a>
          </li>
          <li class="header-secondary-nav__item">
            <a class="header-secondary-nav__link header-secondary-nav__link--active" href="#">Автокалькулятор</a>
          </li>
          <li class="header-secondary-nav__item">
            <a class="header-secondary-nav__link" href="#">Расчёт для физлиц</a>
          </li>
          <li class="header-secondary-nav__item">
            <a class="header-secondary-nav__link" href="#">Ввоз/Вывоз товаров</a>
          </li>
          <li class="header-secondary-nav__item">
            <a class="header-secondary-nav__link" href="#">Валюта</a>
          </li>
          <li class="header-secondary-nav__item">
            <a class="header-secondary-nav__link" href="#">Посылка в РФ</a>
          </li>
          <li class="header-secondary-nav__item">
            <a class="header-secondary-nav__link" href="#">Антиквариат</a>
          </li>
          <li class="header-secondary-nav__item">
            <a class="header-secondary-nav__link" href="#">Все материалы</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>