<div class="just-reading">
    <div class="just-reading__title">
        Сейчас читают
    </div>
    <div class="outer-mobile">
        <ul class="just-reading__list swiper inner-mobile">
            <li class="just-reading__item">
                <time class="just-reading__item-date"
                    datetime="2023-11-10">10.11</time>
                <a class="just-reading__item-title">
                    Эксперты считают, что экономическая ситуация в России не требует повышения ключевой
                    ставки
                </a>
            </li>
            <li class="just-reading__item">
                <time class="just-reading__item-date"
                    datetime="2023-11-10">10.11</time>
                <a class="just-reading__item-title">
                    О проекте решения Комиссии по лицензионным платежам
                </a>
            </li>
            <li class="just-reading__item">
                <time class="just-reading__item-date"
                    datetime="2023-11-10">10.11</time>
                <a class="just-reading__item-title">
                    Эксперты считают, что экономическая ситуация в России не требует повышения ключевой
                    ставки
                </a>
            </li>
        </ul>
    </div>
</div>