<nav class="pagination">
    <h2 class="pagination__title">Страницы:</h2>
    <ol class="pagination__list">
      <li class="pagination__item pagination__item--active">
        <a class="pagination__link"
          href="#">1</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">2</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">3</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">4</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">5</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">6</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">7</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">8</a>
      </li>
      <li class="pagination__item pagination__item--next">
        <a class="pagination__link" href="#">Следующая ›</a>
      </li>
    </ol>
  </nav>