<nav class="page__navigation">
    <h2 class="page__navigation-title">Страницы:</h2>
    <ol class="page__navigation-list">
      <li class="page__navigation-item page__navigation-item--active">
        <a class="page__navigation-link page__navigation-link--active"
          href="#">1</a>
      </li>
      <li class="page__navigation-item">
        <a class="page__navigation-link" href="#">2</a>
      </li>
      <li class="page__navigation-item">
        <a class="page__navigation-link" href="#">3</a>
      </li>
      <li class="page__navigation-item">
        <a class="page__navigation-link" href="#">4</a>
      </li>
      <li class="page__navigation-item">
        <a class="page__navigation-link" href="#">5</a>
      </li>
      <li class="page__navigation-item">
        <a class="page__navigation-link" href="#">6</a>
      </li>
      <li class="page__navigation-item">
        <a class="page__navigation-link" href="#">7</a>
      </li>
      <li class="page__navigation-item">
        <a class="page__navigation-link" href="#">8</a>
      </li>
      <li class="page__navigation-item page__navigation-item--next">
        <a class="page__navigation-link" href="#">Следующая ›</a>
      </li>
    </ol>
  </nav>