<div class="quote">
    <p class="quote__text">
        Установить, что обеспечение исполнения обязанности по уплате таможенных пошлин, налогов не
        предоставляется в отношении товаров, предназначенных для строительства
    </p>
    <div class="quote__author-wrapper">
        <img src="/img/legislation-news-item-quote-author.webp" width="40" height="40" alt="Фото автора цитаты">
        <div class="quote__author">
            <span>Автор</span>
            <a href="#">Артур Закондинов</a>
        </div>
    </div>
</div>