<div class="social">
    <a class="social__item social__item--vk" href="#">
        <span class="visually-hidden">Вконтакте</span>
    </a>
    <a class="social__item social__item--ok" href="#">
        <span class="visually-hidden">Одноклассники</span>
    </a>
    <a class="social__item social__item--twitter" href="#">
        <span class="visually-hidden">Твиттер</span>
    </a>
    <a class="social__item social__item--link" href="#">
        <span class="visually-hidden">Скопировать ссылку</span>
    </a>
</div>