<div class="subscribe">
    <div class="subscribe__title">
        Будьте в курсе последних событий
    </div>
    <ul class="subscribe__list">
        <li class="subscribe__item subscribe__item--digest">
            <a href="#">Редакционный дайджест</a>
        </li>
        <li class="subscribe__item subscribe__item--feed">
            <a href="#">Вся лента</a>
        </li>
        <li class="subscribe__item subscribe__item--community">
            <a href="#">Сообщество</a>
        </li>
        <li class="subscribe__item subscribe__item--rss">
            <a href="#">RSS</a>
        </li>
        <li class="subscribe__item subscribe__item--newsletter">
            <a href="#">Рассылка</a>
        </li>
    </ul>
</div>