.article {
  position: relative;
  margin-bottom: 34px;

  p {
    margin: 12px 0;

    @media (min-width: $desktop-width) {
      margin: 17px 0;
    }
  }

  i {
    line-height: 115%;
  }

  section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  section + section {
    margin-top: 0;
  }
}

.article__header {
  margin-bottom: 20px;
}
