.article-breadcrumb__list {
  display: flex;
  gap: 7px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.article-breadcrumb__item {
  font-size: 12px;
  color: $color-primary;

  a {
    color: rgba(0, 0, 0, 0.45);
    text-decoration: none;
  }

  &:not(:last-child)::after {
    content: "/";
    margin-left: 1px;
    color: rgba(0, 0, 0, 0.45);
  }
}

.article-breadcrumb--software {
  .article-breadcrumb__item {
    a {
      color: $color;
    }

    &:not(:last-child)::after {
      content: "/";
      margin-left: 1px;
      color: $color;
    }

    &--active {
      color: $color;
    }
  }
}

.article-breadcrumb--legislation-news-item {
  
  .article-breadcrumb__list {
    flex-wrap: wrap;
    column-gap: 7px;
    row-gap: 0;
  }

  .article-breadcrumb__item {
    line-height: 1.15;

    a {
      color: $color;
    }

    &:not(:last-child)::after {
      content: "/";
      margin-left: 1px;
      color: $color;
    }

    &--active {
      color: $color;
    }
  }
}