.footer-additional {
  font-size: 12px;
  line-height: 140%;
}

.footer-additional__license,
.footer-additional__editor,
.footer-additional__callback {
  margin: 0;
}

.footer-additional__license {
  margin-bottom: 15px;
}

.footer-additional__editor {
  margin-bottom: 8px;
}