.authors-columns {
    padding: 15px 15px 17px 15px;
    color: #000000;
    background-color: #e7e7e7;
}

.authors-columns__link {
  color: inherit;
}

.authors-columns__title {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.6px;
}

.authors-columns__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.authors-columns__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.authors-columns__item-title-link {
    display: block;
    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    color: inherit;
}

.authors-columns__item-image {
    width: 60px;
    height: 80px;
}

.authors-columns__item-copyright-link {
    font-size: 12px;
    line-height: 16.8px;
    color: #989898;
}