.authors-shorts {
    padding: 17px 15px;
    background-color: $color-divider;
}

.authors-shorts__link {
  color: inherit;
}

.authors-shorts__title {
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 14px;
}

.authors-shorts__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.authors-shorts__item {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    margin-bottom: 6px;
}

.authors-shorts__item-title-link {
    display: block;
    margin-bottom: 4px;
    line-height: 1.4;
    color: inherit;

    @media (hover:hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}

.authors-shorts__item-image {
    width: 60px;
    height: 80px;
    object-fit: cover;
}

.authors-shorts__item-copyright-link {
    font-size: 12px;
    line-height: 1;
    color: $color-light-gray;

    @media (hover:hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}