.btn {
  font-size: 12px;
  line-height: 115%;
  padding: 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: $radius-sm;
  background-color: $color-bg-disabled;
  transition: $transition-duration;

  &--lg {
    padding: 9px;
    font-size: 14px;

    @media (min-width: $desktop-width) {
      padding: 7px 14px;
      font-size: 12px;
      line-height: 140%;
    }
  }

  &--rounded {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 40px;
  }

  &:disabled {
    color: $color-disabled;
    border-color: $color-border-control;
    background: $color-bg-disabled;
  }

  @media (hover: hover) {
    &:not(:disabled):hover {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}

.btn--primary {
  color: $color-bg-main;
  background-color: $color-primary;

  @media (hover: hover) {
    &:not(:disabled):hover {
      color: $color-bg-main;
      background-color: #5794f7;
      border-color: #5794f7;
    }
  }
}
