.custom-table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  margin-bottom: 15px;

  tbody {
    display: contents;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.custom-table__row {
  &--horizontal {
    display: flex;
    justify-content: space-between;
  }
}

.custom-table__row:not(.as-desktop)+.custom-table__row {
  margin-top: 12px;
  border-top: 1px solid $color-divider;
}

.custom-table__col {
  display: flex;
  flex-direction: column;
  padding: 7px 0;
  line-height: normal;
}

.custom-table__heading {
  margin-bottom: 8px;
  font-weight: bold;
}

.custom-table__data {
  &--bold {
    font-weight: bold;
  }
}

@media (min-width: $desktop-width) {
  .custom-table {
    display: table;
  }

  .custom-table tbody {
    display: table-row-group;
  }

  .custom-table__row {
    display: table-row;
  }

  .custom-table__heading {
    text-align: left;
  }

  .custom-table__col {
    display: table-cell;
  }
}

@media (min-width: $desktop-width) {
  .custom-table--payments {
    line-height: 115%;

    .custom-table__heading:nth-child(1),
    .custom-table__col:nth-child(1) {
      width: 258px;
      padding-right: 20px;
    }

    .custom-table__heading:nth-child(2),
    .custom-table__col:nth-child(2) {
      width: 305px;
      padding-right: 20px;
    }

    .custom-table__heading:nth-child(3),
    .custom-table__col:nth-child(3) {
      text-align: right;
    }

    .custom-table__heading {
      padding-bottom: 10px;
    }

    .custom-table__col {
      padding: 14px 0;
      vertical-align: top;
    }
  }
}

.custom-table--software {

  @media (max-width: $mobile-width) {
    margin-bottom: 24px;
    padding-top: 23px;

    .custom-table__row {
      display: grid;
      grid-template-areas:
        "desc desc"
        "flag flag";
      grid-row-gap: 6px;
      grid-template-columns: 1fr 1fr;

      &:last-child {
        grid-row-gap: 0;
      }
    }

    .custom-table__row:not(.as-desktop)+.custom-table__row {
      margin-top: 4px;
    }

    .custom-table__col {
      text-align: center;
      gap: 17px;

      &--desc {
        grid-area: desc;
        padding-bottom: 2px;
        line-height: 1.43;
        text-align: center;
        border-bottom: 1px solid $color-divider;
      }

      &--price {
        border-bottom: none;
      }
    }

    .custom-table__data a {
      text-decoration: underline;
    }
  }

  @media (min-width: $desktop-width) {
    display: table;
    margin-bottom: 40px;
    text-align: center;

    .custom-table__row {
      display: table-row;
      border-bottom: 1px solid $color-divider;
    }

    .custom-table__row:not(.as-desktop)+.custom-table__row {
      margin-top: 0px;
      border-top: none;
    }

    .custom-table__heading {
      display: table-cell;
      margin-bottom: 11px;
      padding: 29px 7px 15px;
      text-align: center;
      white-space: nowrap;
    }

    .custom-table__col {
      display: table-cell;
      padding: 5px 0;

      &--desc {
        justify-self: left;
        line-height: 1.39;
        border: none;
      }
    }

    .custom-table__col .custom-table__data:first-child {
      text-align: left;
    }

    .custom-table__data a {
      text-decoration: underline;
    }
  }
}

.custom-table--software-section {

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;

    .custom-table__row {
      display: flex;
      flex-direction: column;
    }

    .custom-table__row:not(.as-desktop)+.custom-table__row {
      margin-top: 0px;
      border-top: none;
    }

    .custom-table__heading {
      justify-self: center;
      margin-bottom: 0;
      padding: 0;
      font-weight: 400;
      line-height: 1;
    }

    .custom-table__col {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      border-bottom: 1px solid $color-divider;

      &--desc {
        justify-content: center;
        padding: 14px 0;
      }
    }

    .custom-table__data--crossed {
      font-size: 10px;
      text-decoration: line-through;
    }

    .custom-table__data--bold {
      margin-left: 5px;
      padding-right: 41px;
      font-size: 14px;
      font-weight: 700;
    }
  }

  @media (min-width: $desktop-width) {
    display: table;
    width: 100%;
    margin-bottom: 13px;

    .custom-table__row {
      display: table-row;
      border-bottom: 1px solid $color-divider;

      &:first-child {
        border-top: 1px solid $color-divider;
      }
    }

    .custom-table__row:not(.as-desktop)+.custom-table__row {
      margin-top: 0px;
      border-top: none;
    }

    .custom-table__heading {
      display: table-cell;
      margin-bottom: 0;
      padding: 8px 0;
      font-weight: 400;
      line-height: 1;
      text-align: center;
    }

    .custom-table__heading:first-child {
      position: relative;
    }

    .custom-table__heading:first-child::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0px;
      width: 193px;
      height: 4px;
      background-color: $color-bg-main;
    }

    .custom-table__heading:first-child::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 0px;
      width: 193px;
      height: 4px;
      background-color: $color-bg-main;
    }

    .custom-table__col {
      display: table-cell;
      padding: 10px 0;
      border: none;

      .custom-table__data {
        display: flex;
        flex-direction: column;
      }

      .custom-table__data--crossed {
        align-self: center;
        font-size: 10px;
        text-decoration: line-through;
      }

      .custom-table__data--bold {
        align-self: center;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

.custom-table--price {
  @media (max-width: $mobile-width) {
    margin-bottom: 10px;

    .custom-table__row {
      display: flex;
      flex-direction: column;
    }

    .custom-table__row:not(.as-desktop)+.custom-table__row {
      margin-top: 0px;
      border-top: none;
    }

    .custom-table__heading {
      margin-bottom: 0;
      padding: 0;
      font-weight: 400;
      line-height: 1;
    }

    .custom-table__col {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      border-bottom: 1px solid $color-divider;

      &--desc {
        justify-content: center;
        padding: 14px 0;
        border-bottom: 1px solid $color-white;
      }
    }
    
    .custom-table__data--bold {
      margin-left: 5px;
      padding-right: 41px;
      font-size: 16px;
      font-weight: 700;
    }

    .custom-table__data--crossed {
      font-size: 14px;
      text-decoration: line-through;
    }

  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 13px;
    
    .custom-table__row {
      display: grid;
      grid-template-columns: 193px 108px 159px;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $color-divider;

      &:first-child {
        border-top: 1px solid $color-divider;
      }
    }

    .custom-table__row:not(.as-desktop)+.custom-table__row {
      margin-top: 0px;
      border-top: none;
    }
    
    .custom-table__heading {
      justify-self: center;
      margin-bottom: 0;
      padding: 8px 0;
      font-weight: 400;
      line-height: 1;
    }

    .custom-table__heading:first-child {
      position: relative;
    }

    .custom-table__heading:first-child::before {
      content: "";
      position: absolute;
      top: -7px;
      left: -97px;
      width: 193px;
      height: 1px;
      background-color: $color-bg-main;
    }

    .custom-table__heading:first-child::after {
      content: "";
      position: absolute;
      top: 21px;
      left: -97px;
      width: 193px;
      height: 1px;
      background-color: $color-bg-main;
    }

    .custom-table__col {
      padding: 10px 0;
      border: none;
      
      
      .custom-table__data {
        display: flex;
        flex-direction: column;
      }
      
      .custom-table__data--crossed {
        align-self: center;
        font-size: 10px;
        text-decoration: line-through;
      }

      .custom-table__data--bold {
        align-self: center;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}