.database {
    padding-top: 26px;
    padding-bottom: 20px;

    @media (min-width: $desktop-width) {
        padding-top: 21px;
    }
}

.database__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-weight: 700;
    font-style: italic;
    line-height: 1.2;
    color: $color-dark-gray;
}

.database__info {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
}

.database__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.database__item {
    margin-bottom: 13px;

    @media (min-width: $desktop-width) {
        margin-bottom: 14px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.database__item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.database__item-title {
    display: flex;
    gap: 16px;
}

.database__item-image {
    width: 32px;
    height: 32px;
    margin-bottom: 16px;
}

.database__item-date {
    padding-right: 3px;
    font-size: 10px;
    color: #333;
    line-height: 1;

    @media (min-width: $desktop-width) {
        margin-left: 10px;
        padding-right: 10px;
    }
}

.database__item-content {
    margin: 0;
    margin-bottom: 19px;
    padding: 0;
    padding-right: 5px;
    font-size: 12px;
    line-height: 1.6;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
        padding-right: 10px; 
    }
}