.home-content {
    margin-bottom: 30px;
    padding-top: 20px;

    @media (min-width: $desktop-width) {
        padding-top: 9px;
    }
}

.home-content__title {
    margin-bottom: 23px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.home-content__news-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop-width) {
        column-count: 3;
        column-gap: 15px;
    }
}

.home-content__news-item {
    margin-bottom: 9px;
    padding-bottom: 14px;
    border-bottom: 1px solid $color-divider;

    &:last-child {
        border-bottom: none;

        @media (min-width: $desktop-width) {
            border-bottom: 1px solid $color-divider;
        }
    }

    @media (min-width: $desktop-width) {
        display: inline-block;
        max-width: 210px;
    }
}

.home-content__news-item--important .home-content__news-item-desc {
    font-weight: 700;
}

.home-content__news-item-date {
    font-size: 12px;
    line-height: 1.4;
    color: $color-light-gray;
}

.home-content__news-item-link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    color: $color;
    line-height: 1.4;

    @media (min-width: $desktop-width) {
        flex-direction: column;
        gap: 5px;
    }
}

.home-content__news-item-desc:hover {
    text-decoration: underline;
}

.home-content__news-item-image {
    flex-shrink: 0;
    width: 130px;
    height: 73px;
    object-fit: cover;
    padding-top: 6px;

    @media (min-width: $desktop-width) {
        width: 100%;
        height: auto;
        padding: 0;
    }
}