.legislation-news-item {
    padding-top: 23px;

    @media (min-width: $desktop-width) {
        padding-top: 22px;
    }
}

.legislation-news-item__header {
    margin-bottom: 10px;

    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 10px;
        margin-bottom: 9px;
    }
}

.legislation-news-item__info {
    font-size: 12px;

    @media (min-width: $desktop-width) {
        flex-shrink: 0;
        line-height: 1;
    }
}

.legislation-news-item__date {
    margin-right: 10px;

    @media (min-width: $desktop-width) {
        margin-right: 13px;
    }
}

.legislation-news-item__link {
    position: relative;
}

.legislation-news-item__link::before {
    content: "·";
    position: absolute;
    top: -3px;
    left: -7px;
    color: inherit;

    @media (min-width: $desktop-width) {
        top: 0;
        left: -10px;
    }
}

.legislation-news-item__subtitle {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 700;
    font-style: italic;
    color: $color-dark-gray;
    line-height: 1.2;
}

.legislation-news-item__title {
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.15;
    color: $color-dark-gray;
}

.legislation-news-item__content {
    margin-bottom: 10px;

    @media (min-width: $desktop-width) {
        margin-bottom: 17px;
    }
}

.legislation-news-item__content p {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.legislation-news-item__social {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-column-gap: 15px;
    margin-bottom: 30px;
    padding: 20px 15px 22px 15px;
    border: 1px solid $color-divider;
}

.legislation-news-item__social-cta {
    margin-bottom: 9px;
    line-height: 1.1;
    color: $color-dark-gray;

    @media (min-width: $desktop-width) {
        margin-bottom: 16px;
        padding-top: 7px;
    }
}

.legislation-news-item__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.legislation-news-item__social-item {
    position: relative;
    display: flex;
    column-gap: 5px;
    padding-left: 7px;

    @media (min-width: $desktop-width) {
        column-gap: 3px;
        padding-left: 13px;
    }
}

.legislation-news-item__social-item::before {
    content: "·";
    position: relative;
    top: 0;
    left: -5px;
    font-weight: 900;
    color: $color-primary;

}

