.legislation-news {
    padding-top: 21px;
    padding-bottom: 30px;

    @media (min-width: $desktop-width) {
        padding-top: 16px;
    }
}

.legislation-news__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.legislation-news__filters-wrapper {
  margin-bottom: 25px;
}

.legislation-news__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin: 0;
    padding: 0 $offset-x-mobile;
    list-style: none;

    @media (min-width: $desktop-width) {
      padding: 0;
    }
}

.legislation-news__filter {
    padding: 3px 7px;
    border-radius: 5px;

    &:hover {
        padding: 2px 6px;
        border: 1px solid $color-primary;
    }
}

.legislation-news__filter--active {
    background-color: $color-primary;
    color: $color-bg-main;

    .legislation-news__filter-link {
        color: $color-bg-main;
    }
}

.legislation-news__filter-link {
    color: $color-primary;
}

.legislation-news__list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 11px;
    list-style: none;
    font-size: 12px;

    @media (min-width: $desktop-width) {
        margin-bottom: 27px;
        padding-top: 5px;
    }
}

.legislation-news__item-date {
    margin-bottom: 4px;
    color: $color-light-gray;
}

.legislation-news__item-announce {
    display: block;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
    color: $color;
    line-height: 1.25;
}

.legislation-news__item-announce--important {
    font-weight: 700;
}

.legislation-news__pagination {
    .pagination {
        justify-content: flex-start;
        align-items: baseline;
    }

    .pagination__list {
        margin-bottom: 0;
    }

    .pagination__title {
        margin-bottom: 11px;
        font-size: 14px;
    }

    .pagination__link {
        padding: 0 6px;
        font-size: 14px;
    }
}