.logo {
  width: 56px;
  height: 43px;

  @media (min-width: $desktop-width) {
    width: 79px;
    height: 61px;
  }
}

.logo--sm {
  width: 50px;
  height: 38px;

  @media (min-width: $desktop-width) {
    width: 84px;
    height: 64px;
  }
}

.logo__img {
  width: 100%;
  height: auto;
}