.modal-product__info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-border-control;
}

.modal-product__number {
  padding: 14px 17px;
  font-weight: bold;
}

.modal-product__name {
  padding: 14px;
}

.modal-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-product__item {
  display: grid;
  gap: 7px;
  padding: 10px 17px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-border-control;
  }
}

.modal-product__item-title {
  margin: 0;
  font-weight: bold;
  color: $color-primary-dark;
}

.modal-product__item-desc {
  margin: 0 0 14px;
}
