.tags {
    @media (min-width: $desktop-width) {
        display: flex;
        gap: 13px;
    }
}

.tags__title {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    color: $color-light-gray;
}

.tags__links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    row-gap: 8px;

    a {
        color: $color-primary;
    }
}