.tree-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  .tree-list__item--expanded > &,
  .product-list__item--expanded > & {
    display: block;
  }
}

.tree-list__title {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 14px;
  padding: 10px 15px;

  .tree-list__item--expanded > &::after {
    content: '';
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: $color-expanded;
  }

  .tree-list__item--expanded.tree-list__item--finit > &::after {
    background-color: $color-primary-dark;
  }

  .tree-list__item--folder > &::before {
    content: '';
    position: relative;
    z-index: 1;
    align-self: center;
    width: 22px;
    height: 22px;
    background: url('../img/stack.svg#folder') no-repeat;
  }
  
  .tree-list__item--expanded.tree-list__item--folder > &::before {
    background: url('../img/stack.svg#folder-opened') no-repeat;
  }
}

.tree-list__code,
.tree-list__code[x-apple-data-detectors] {
  position: relative;
  z-index: 1;
  display: inline-flex;
  flex-shrink: 0;
  padding: 4px 10px;
  border-radius: $radius-sm;
  font-weight: bold;
  color: $color !important;

  .tree-list & {
    background: #b5d9ff;
  }

  .tree-list .tree-list & {
    background: #cfe9e6;
  }

  .tree-list .tree-list .tree-list & {
    background: #b6ecaa;
  }

  .tree-list__item--finit > .tree-list__title > & {
    background: #fadfd1 !important;
  }
}

.tree-list__section {
  position: relative;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;

  .tree-list__item--expanded.tree-list__item--finit & {
    color: $color-bg-main;
  }
}
