.custom-article {
  margin-bottom: 34px;
}

.custom-article__header {
  padding: 14px 0;
  max-width: 900px;

  @media (max-width: $mobile-width) {
    display: grid;
    gap: 5px;
  }
}

.custom-article__title {
  margin: 0;
  font-weight: normal;
  font-size: 24px;

  @media (min-width: $desktop-width) {
    display: inline;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
  }
}

.custom-article__desc {
  margin: 0;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.custom-article__row {
  display: grid;

  @media (max-width: $mobile-width) {
    &--tn-ved {
      .custom-article__alert {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    padding: 7px 0;

    &--tn-ved {
      display: grid;
      grid-template-columns: 3fr 2fr;
      align-items: start;
    }
  }
}

.custom-article__search-row {
  margin-bottom: 15px;

  @media (min-width: $desktop-width) {
    margin-top: 19px;
    margin-bottom: 13px;
    padding: 7px 0;

    .custom-article__search {
      width: 310px;
    }
  }
}

.custom-article__search {
  @media (max-width: $mobile-width) {
    margin: 7px 0;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.custom-article__alert {
  @media (max-width: $mobile-width) {
    margin: 15px 0;
  }
}
